@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-black duration-200 bg-light-background dark:bg-dark-background dark:text-white;
}

#button::after {
  content: "";
  width: 100px;
  height: 100px;
  background-color: white;
  position: absolute;
  border-radius: 50%;
  scale: 0;
}
#button:active::after {
  animation: button 0.3s;
}

@keyframes button {
  from {
    scale: 0;
    opacity: 1;
  }
  to {
    scale: 1;
    opacity: 0;
  }
}

.toggler-wrapper {
  display: block;
  width: 45px;
  height: 25px;
  cursor: pointer;
  position: relative;
}

.toggler-wrapper input[type="checkbox"] {
  display: none;
}

.toggler-wrapper input[type="checkbox"]:checked + .toggler-slider {
  background-color: #4b5efc;
}

.toggler-wrapper .toggler-slider {
  background-color: #ccc;
  position: absolute;
  border-radius: 100px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.toggler-wrapper .toggler-knob {
  position: absolute;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.toggler-wrapper.style-12
  input[type="checkbox"]:checked
  + .toggler-slider
  .toggler-knob {
  left: calc(100% - 19px - 3px);
}

.toggler-wrapper.style-12 .toggler-knob {
  width: calc(25px - 6px);
  height: calc(25px - 6px);
  border-radius: 50%;
  left: 3px;
  top: 3px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}
